:root {
    --black: #333;
    --white: #fff;
    --red: #CD5C5C;
    --primary-50: #e0fcff;
    --primary-100: #bef8fd;
    --primary-200: #87eaf2;
    --primary-300: #54d1db;
    --primary-400: #38bec9;
    --primary-500: #2cb1bc;
    --primary-600: #14919b;
    --primary-700: #0e7c86;
    --primary-800: #0a6c74;
    --primary-900: #044e54;
    --primary-1000: #023a3f;
    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;
    /* rest of the colors */
    --black: #333;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
}

body {
    background-color: var(--white);
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/ns22061-image-kwvy8tpl.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=76f9d7b81a5494eb787f6ac847a05836");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

header{
    background: rgba(0, 0, 0, 0.503);
    font-size: 0.8em;
    background-image: url("https://freesvg.org/img/Panoramic-City-Skyline-Silhouette.png"); 
    background-position-y: 310px; 
    box-shadow: 0px 10px 13px -7px #000000, 5px 25px 15px 16px rgba(0, 0, 0, 0.12);
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-control:focus {
            border-color: #189AB4;
            box-shadow: inset 0 1px 1px #d4f1f4b2, 0 0 8px #189ab4b3;
        }
        .logo {
            img {
                padding: 0;
                border-radius: 50%;
                max-width: 50px;
                height: 100%;
            }
        }
        .cuntries-links{
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin: 4px 24px;
                    padding: 4px;
                    transition: 0.2s;
    
                    a {
                        font-weight: bolder;
                        display: block;
                        position: relative;
                        text-decoration: none;
                        padding: 5px;
                        font-size: 15px;
                        font-family: sans-serif;
                        color: var(--white);
                        text-transform: uppercase;
                        transition: 0.2s;
                        img{
                            margin: 4px;
                            width: 20px;
                        }
                    }
    
                    a:hover {
                        transform: scale(1.2);
                        opacity: 1;
                        filter: blur(0);
                        text-decoration: none;
                        color: var(--primary-1000);
                        box-shadow: 0px 10px 13px -7px #000000, 5px 25px 15px 16px rgba(0, 0, 0, 0.12);
                    }
    
                    a:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--green-light);
                        transition: 0.8s;
                        transform-origin: right;
                        transform: scaleX(0);
                        z-index: -1;
                    }
                    a:hover:before {
                        transition: transform 0.8s;
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                }
                ul:hover {
                    transform: scale(1.5);
                    opacity: 0.2;
                    filter: blur(5px);
                }
            }
        }

    }

}
footer {
    background: rgba(0, 0, 0, 0.503);
    bottom: 0;
    left: 0;
    background-image: url("https://freesvg.org/img/Panoramic-City-Skyline-Silhouette.png"); 
    // background-size: cover;
    background-position-y: 310px;
    box-shadow: 0px 10px 13px -7px #000000,0px -5px 19px -2px rgb(0, 0, 0);
    transition: 1000ms;
    position: fixed;
    bottom: 0;
    left: 0;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 75%;
            width: 35px;
            border-right: rgba(163, 163, 163, 0.196) 0.5px solid;
            border-bottom-right-radius: 80px;
            transition: 1000ms;
        }

        img:hover {
            border-bottom-right-radius: 10px;
            border-right: none;
            transform: translateX(-8px);
        }
    }
    .profile {
        color: var(--white);
        a {
            text-decoration: none;
            color: var(--white);
        }

        .profileimg {
            float: left;
            width: 50px;
            border-radius: 50%;
            border-right: rgb(0, 0, 0) 5px solid;
        }

        .headline {
            padding: 8px;

            h4,
            h6 {
                font-size: 0.8em;
                font-weight:bolder ;
            }
        }
    }
}
@media(max-width:950px){
    header{
        nav{
            justify-content: center;
            .cuntries-links{
                ul{
                    justify-content: center;
                    li{
                        margin:0;
                        a{
                            text-align: center;
                            font-size: 0.8em;
                            padding: 4px;
                        }
                        a:hover:before {
                            transition: transform 0.8s;
                            transform-origin: left;
                            transform: scaleX(0.8);
                        }
                    }
                }
            }
        }
        }
    footer{
        margin-top: 60px;
        a{
            img{
                height: 40%;
                width: 20px;
            }
        }
        .profile{
            .profileimg{
                width: 50px;
            }
            
            .headline{
                font-size: 0.6em;
            }
            
        }
    }
}