main{
    margin-bottom: 100px;
    min-height: 70vh;
    .container{
        padding: 0;
        .loading{
            width: 300px;
            margin: 0 auto;
            padding: 4px;
            // border-radius: 50%;
            h2{
                text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
                color: azure;
            }
        }
        }
        .country{
            min-height: 250px;
            border-radius: 12px;
            padding: 0;
            overflow: hidden;
            .country-box{
                align-items: center;
                cursor: pointer;
                min-height: inherit;
                .flag{
                    min-height: 200px;
                    background-position: center;
                    background-size: cover;
                }
                .borderLink{
                    padding-left: 12px;
                    a:hover{
                        color: aqua;
                    }
                }
            }
            .country-box:hover{
                background: #00000078;
            }
            .map{
                min-height: 100%;
                box-shadow: 0px 10px 13px -7px #000000, 5px 25px 15px 16px rgba(0, 0, 0, 0.12);
            }
        }
    }


@media(max-width:768px){
    main{
        margin-bottom: 100px;
        min-height: 250px;
        .container{
            min-height: inherit;
            .country{
                overflow: hidden;
                min-height: 300px;
                padding: 8px;
                .country-box{
                    min-height: inherit;
                    .flag{
                        min-height: 250px;
                        background-position: center;
                        background-size: cover;
                    }
                }
                .map{
                    height: 500px;;
                }
            }
        }
    
    }
}