main{
    margin-bottom: 100px;
    min-height: 70vh;
    .container{
        padding: 0;
        .loading{
            width: 300px;
            margin: 0 auto;
            // border-radius: 50%;
            h2{
                text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
                color: azure;
            }
        }
        section{
            background-image: url("https://j.gifs.com/vQJxxY.gif");
            color: rgb(232, 252, 4);
            background-position: center;
            background-size: cover;
            box-shadow: 0px 10px 13px -7px #000000, 5px 25px 15px 16px rgba(0, 0, 0, 0.12);
            text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 rgb(85, 85, 85), 0 4px 0 #616161, 0 5px 0 rgb(39, 39, 39), 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
            border: 4px black solid;
            border-radius: 12px;
        }
        .country{
            min-height: 250px;
            border-radius: 12px;
            padding: 0;
            overflow: hidden;
            .country-box{
                align-items: center;
                cursor: pointer;
                min-height: inherit;
                .flag{
                    min-height: 200px;
                    background-position: center;
                    background-size: cover;
                }
                .borderLink{
                    padding-left: 12px;
                    a:hover{
                        color: aqua;
                    }
                }
            }
            .map{
                min-height: 100%;
                box-shadow: 0px 10px 13px -7px #000000, 5px 25px 15px 16px rgba(0, 0, 0, 0.12);
            }
        }
    }

}
@media(max-width:768px){
    main{
        margin-bottom: 100px;
        min-height: 250px;
        .container{
            min-height: inherit;
            .country{
                overflow: hidden;
                min-height: 300px;
                padding: 8px;
                .country-box{
                    min-height: inherit;
                    .flag{
                        min-height: 250px;
                        background-position: center;
                        background-size: cover;
                    }
                }
                .map{
                    height: 500px;;
                }
            }
        }
    
    }
}